name: fancy_dio_inspector
description: A HTTP inspector for Dio. It allows you to log & copy cURL of every request, response or error.

maintainer: Gökhan Çavuş
homepage: https://github.com/gokhancvs/fancy_dio_inspector
repository: https://github.com/gokhancvs/fancy_dio_inspector
issue_tracker: https://github.com/gokhancvs/fancy_dio_inspector/issues

version: 1.7.0

screenshots:
  - description: 'Fancy Dio Inspector'
    path: assets/screenshots/screenshot_1.png

environment:
  sdk: '>=2.17.6 <4.0.0'
  flutter: '>=3.0.5'

dependencies:
  dio: ^5.4.1

  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  very_good_analysis: ^5.1.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
